@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

html, body {
}

body {
  font-family: 'Raleway', sans-serif;
  color: #232323;
  opacity: 0;
}

html.wf-active body, html.wf-inactive body {
  animation: fadein .5s;
  opacity: 1
}

.inverse {
  position: absolute;
  pointer-events: none;
  z-index: 100000;
  color: white;
  background: #232323;
  background-image: linear-gradient(to bottom right,#232323, #454545);
  top: 0;
  left: 0;
  overflow: hidden;
}

.tooltip {
  z-index: 100001;
}

.split {
  display: inline-block;
  text-align: right;
}

h1 {
  position: relative;
}

.split-pull {
  position: relative;
  left: 0px;
}

.main-split {
  text-align: right;
  padding: 0;
}

h2 {
  margin-bottom: 2em;
}

.h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.h3 h3 {
  display: inline-block;
}

ul.avatars {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  vertical-align: middle;
}

ul.avatars li {
  display: inline-block;
}

.avatar {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: gray;
  background-size: cover;
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  overflow: hidden;
  color: transparent;
}

.avatar:link, .avatar:visited, .avatar:hover, .avatar:active {
  color: transparent;
}

.avatar--niki {
  background-image: url('../images/niki-435x435.jpg');
}

.avatar--mark {
  background-image: url('../images/mark-435x349.jpg');
}

.avatar--ray {
  background-image: url('../images/ray-435x392.jpg');
}

.avatar--taurin {
  background-image: url('../images/taurin-435x349.jpg');
}

.avatar--francis {
  background-image: url('../images/francis.jpg');
}

.avatar--alexa {
  background-image: url('../images/alexa.jpg');
}

.avatar--jessica {
  background-image: url('../images/jessica.jpg');
}

.avatar--sylvia {
  background-image: url('../images/sylvia.jpg');
}

.avatar--arduino {
  background-image: url('../images/arduino.jpg');
}

.avatar--bluetooth {
  background-image: url('../images/bluetooth.jpg');
}

.avatar--accelerometer {
  background-image: url('../images/accelerometer.jpg');
}

.avatar--wifi {
  background-image: url('../images/wifi.jpg');
}

.avatar--glyphicon::before {
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  color: white;

  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.avatar--link::before {
  content: "\e135";
}

.avatar--slides::before {
  content: "\e218";
}

#schedule {
  margin-top: 2em;
}

.square {
  padding: 20px;
  background: #232323;
  background-image: linear-gradient(to bottom right,#232323, #454545);
  color: white;
  margin: 15px 0;
}

.square h4:first-child, .square h5:first-child {
  margin-top: 0;
}

.inverse .square {
  background: white;
  color: #232323;
}

@media (max-width: 767px) {
  h1 {
    font-size: 22px;
    text-align: center;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
    padding: 0 15px;
  }
  h3 .split {
    text-align: left;
  }
  .h3 h3 {
    margin-top: 0;
  }
  ul.avatars {
    display: block;
    padding: 0 15px;
  }
  .square {
    height: auto !important;
  }
}
